@import "styles/utils/index";

.base {
  position: fixed;
  z-index: $foreground;
  @include trbl;
  width: 100%;
  height: 100vh;
  background: $black;
  display: flex;
  justify-content: center;
  align-items: center;
}
