@import "styles/utils/index";

.base {
  position: fixed;
  width: 100vw;
  height: 120vh;
  z-index: 3000;
  border-top: solid 121px $black;
  margin-top: -121px;
  padding: 32px 0 128px;
  color: white;
  background-color: black;

  a {
    display: block;
    margin-top: 32px;
  }
}
