@import "styles/utils/index";

.base {
  position: sticky;
  z-index: 3000;
  top: 0;
  background-color: black;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top center;
  backdrop-filter: blur(6px);

  .skipLink {
    opacity: 0;
    position: absolute;
  }

  &.open {
    height: 100vh;
    .container {
      background-color: black;
    }
  }

  @include media($max-md) {
    padding-top: 0 !important;
  }

  opacity: 0;
  transition: opacity 1s;

  &.mounted {
    opacity: 1;
  }
}

.container {
  transition: background-color $overlay-shift, filter $overlay-shift;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media($min-md) {
    align-items: flex-end;
  }

  filter: invert(0);
}
.smaller {
  .logo {
    width: 175px;
    height: 80px;
    transform: translateY(0);
    transition: width $interaction-shift, height $interaction-shift;
  }
}

.navWrap {
  @include media($min-md) {
    display: flex;
    align-items: center;
  }
  @include media($max-md) {
    visibility: hidden;
    opacity: 0;
    transition: opacity $overlay-shift, visibility $overlay-shift;
    position: fixed;
    z-index: 3000;
    top: 115px;
    height: calc(100vh - 110px); // Menu content disappears without this
    bottom: 0;
    right: 0;
    left: 0;
    background: black;
    overflow: auto;
    &.open {
      visibility: visible;
      opacity: 1;
    }
  }
}
.menuWrap {
  display: none;
  @include media($max-md) {
    display: block;
    svg {
      width: 56px !important;
    }
  }
}

.mobileNavBtn {
  cursor: pointer;
}
.bottom {
  @include media($min-md) {
    display: none;
  }
  margin: 65px 32px;
  padding-top: 62px;
  border-top: 0.5px solid #ffffff;
  color: $white;
  display: flex;
  justify-content: space-between;
  .left {
    color: $white;
    ul {
      list-style: none;
      padding: 0;
      margin-top: 0;
      a,
      div {
        color: $white;
        margin-right: 44px;
        font-size: 12px;
        line-height: 24px;
      }
      li.noRightMargin {
        a, div {
          margin-right: 12px;
        }
      }
    }
    .icons {
      a {
        margin-right: 16px;
      }
    }
  }
}

.langWrapperArabic {
  padding: 0 50px;
}
