@import "styles/utils/index";

.base {
  display: grid;
  align-items: center;
  background-image: url("/images/header-bg.jpeg");
  // background-repeat: no-repeat;
  // background-size: 100% auto;
  // background-attachment: fixed;
  // background-position: top center;
  background-size: auto 100%;
  @include media($max-md) {
  }

  position: relative;
  margin-top: -121px;
  padding-top: 121px;

  .bg {
    background-color: rgba($color: #000000, $alpha: 0.2) !important;
  }

  .container {
    padding-top: 37px;
    padding-bottom: 37px;
  }

  .title {
    @include normal-section-title(true);
    font-weight: 600 !important;
    margin: 15px 0;
    padding-right: 20px;
  }
  .content {
    @include paragraph;
  }

  &.dark {
    background-color: $black;
    .title {
      @include normal-section-title(true);
    }
    .content {
      @include paragraph(true);
    }
  }
}
